:root {
    /* --bs-primary: #56B870; */

    --button-color: #5DB46F;

    --secondary-foreground: #F8FAFB;
    --fresh-green: #56B870;
    --sunset-orange: #FF914D;
    --neutral-gray: #494949;
    --clean-white: #FFFFFF;
    --sunny-yellow: #F5C153;
    --sea-blue: #3E88C7;
    --subtle-coral: #FF7F7F;
    --green-flavor: #577051;
    --font-color: whitesmoke;
    --bs-body-color: #16421F;
    --light-green: #5DB46F;
    --bs-primary: #5DB46F;
}

html{
    font-size: 15px !important;
    color: #16421F;
}

* {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background .3s ease-in-out
}

body {
    text-rendering: optimizelegibility;
    line-height: 1;
    font-family: 'Montserrat', sans-serif !important;
    scroll-behavior: smooth;
    /* color: var(--font-color) !important; */
    background: var(--clean-white) !important;
    overflow-x: hidden;
    min-height: 100vh;
}

.image-container {
    background: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80') center/cover no-repeat;
    background-position: center;
    background-size: cover;
}

.image-container::before {
    content: "";
    /* Add your desired content here */
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.w-fit-content {
    width: fit-content !important;
}

.color-accent-green {
    color: var(--fresh-green) !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.heart-recipe {
    top: 10px;
    right: 10px;
    background: var(--neutral-gray);
}

.cook-time{
    bottom: 0;
    left: 0;
    background: var(--sunny-yellow);
}


.landing-container {
    padding: 5% 5%;
    margin: 0 auto;
    /* Center the container horizontally */
    max-width: 900px;
    /* Limit the width for readability */
    text-align: center;
    /* Center the content inside the container */
}

.welcome-message {
    font-size: 2rem;
    font-weight: bold;
    color: var(--fresh-green);
    margin-bottom: 2rem;
}

.feature-icon {
    font-size: 3rem;
    color: var(--sunset-orange);
}

.feature-text {
    font-size: 1.5rem;
    color: var(--neutral-gray);
    margin-top: 1rem;
}

.get-started-button {
    margin-top: 3rem;
}






.recipe-card {
    background-color: var(--clean-white);
    /* border: 1px solid var(--neutral-gray); */
    /* border-radius: 10px; */
    /* padding: 1.5rem; */
    /* margin-bottom: 1.5rem; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    /* margin-right: 1.5rem; */
}

.recipe-details {
    flex: 1;
}

.recipe-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--neutral-gray);
    margin-bottom: 0.5rem;
}


.recipe-stars {
    color: var(--sunset-orange);
}


a {
    text-decoration: none !important;
    color: inherit !important;
}

.fa-angle-right{
    transform: rotate(90deg);
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#green-overflow::before{
    content: "";
    background-color: inherit;
    position: absolute;
    width: 50%;
    height: 100%;
    left: -50%;
    top: 0;
}

.left-overflow::before{
    content: "";
    background-color: inherit;
    position: absolute;
    width: 50%;
    height: 100%;
    left: -50%;
    top: 0;
}

.footer{
    background-color: var(--green-flavor);
    color: white;
}

.btn-primary{
    background-color: var(--button-color) !important;
    border-color: #25d348 !important;
}

.btn-outline-primary{
    border-color: #25d348 !important;
    border-width: 2px;
    color: green !important;
}

.btn-primary:hover{
    background-color: #52DE6F !important;
}

.btn-outline-primary:hover{
    background-color: #52DE6F !important;
    color: white !important;
}

.transition-height{
    transition: height .3s cubic-bezier(0.23, 1, 0.320, 1);
}

.h-filter-active{
    height: 36px !important;
}

.badge{
    padding: 1em !important;
}

.hide-scrollbar1 {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar2::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.dropdown-menu{
    width: 100% !important;
}

.selected-recipe{
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.selected-recipe::after {
    font-family: "Font Awesome 6 Free";
    content: "\f1f8";
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%);
    right: 1em;
    /* transform: translate(-50%, -50%); */
    font-size: 2em;

    opacity: 0;
    transition: opacity .2s ease-out;
  }

  .selected-recipe:hover::after {
    opacity: 1;
  }

  .selected-recipe:hover {
    opacity: .5;
  }




  .skeleton-card {
    background-color: #f5f5f5;
}

.skeleton-image {
    width: 100%;
    height: 0;
    padding-top: 66.66%; /* 4:3 aspect ratio */
    background-color: #ddd;
    animation: loading 1s infinite;
}

.skeleton-title,
.skeleton-info,
.skeleton-badges {
    background-color: #ddd;
    height: 20px;
    margin: 5px 0;
    width: 100%;
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

img {
    object-fit: cover;
}
